#app3 {
    border: 1px solid forestgreen;
}

#app3 .square {
    border: 1px solid darkcyan;
    height: 10vw;
    width: 10vw;
    margin-top: 10vw;
    margin-left: 10vw;
    transition: transform 1s;
}

#app3 .square.active {
    transform: translateX(15vw);
}